<nav
  id="navbar"
  class="container navbar fixed-top navbar-expand-lg navbar-light "
>
  <div class="container">
    <a class="navbar-brand rounded bg-light py-2 px-1 mr-4" href="/">
      <img src="images/logo.png" width="60" height="60" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <img src="images/menu.png"></img>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-4">
        <li class="nav-item">
          <a class="nav-link" href="/">OUR WORK </a>
        </li>
        <li class="nav-item">
          <a class="nav-link lang-en" href="/">ABOUT US </a>
          <a href="/" class="nav-link lang-hi d-none">हमारे बारे में</a>
        </li>
      </ul>
      <ul class="m-2 navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="btn btn-outline-light">DONATE</a>
        </li>
        <li class="nav-item">
         
        </li>
      </ul>
    </div>
    <label class="rocker m-2">
      <input type="checkbox" onclick="switchLang()" />
      <span class="switch-left">आ</span>
      <span class="switch-right">en</span>
    </label>
  </div>
  
</nav>


