<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); -%>

<body>
  <%- include('../partials/navbar'); -%>

  <section>
    <div class="cover">
      <img src="images/carosel/1.png" />
    </div>
    <div class="content">
      <div class="centralize text-light">
        <div>
          <h1 class="h1 text-center m-3 lang-en" data-aos="zoom-in">
            Nirog Gyan Organization
          </h1>
          <h1 class="h1 text-center m-3 lang-hi d-none">
            निरोग ज्ञान आर्गनाइजेशन
          </h1>
          <h2 class="h2 text-center my-2" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
            सर्वे सन्तु निरामयाः
          </h2>
        </div>
      </div>
      <a class="scroll-btn" href="#vision"></a>
    </div>
  </section>

  <section id="vision" style="box-shadow: inset 0 3px 5px #333;">
    <div class="container" data-aos="fade-up">
      <h1 class="text-center m-5 lang-en" data-aos="fade-up" data-aos-easing="ease">
        Our Vision
      </h1>
      <h1 class="text-center m-5 lang-hi d-none">
        हमारी दृष्टि
      </h1>
      <div class="lead col-10 col-lg-8 text-justify mx-auto" data-aos="fade-up" data-aos-easing="ease"
        data-aos-delay="300">
        <p class="lang-en text-dark">
          Nirog Gyan Organisation is a society with a view to impart or
          enhance the awareness regarding health and wellness, with the help
          of experts, social groups and such other organisation . Health
          awareness, post-illness care, preventive health care etc. are our
          primary concern. It is our experience that human curses are growing
          in proportion with the progressive human civilization. It requires
          our consistent efforts to raise awareness for the alleviation of
          those causes.<br />
          <strong class="my-2">Come forward! Extend your hands!! Listen to your heart!!!
          </strong>
        </p>
        <p class="lang-hi d-none">
          निरोग ज्ञान आर्गनाइजेशन एक ऐसी स्वास्थ्य ज्ञान संबंधी संस्था है जो
          इस क्षेत्र के विशेषज्ञों, उत्सुक समाजसेवियों और अन्य सहयोगियों की
          सहमति से स्थापित की गई है। स्वास्थ्य के प्रति जागरूकता, अस्वस्थता
          (बीमारी के पश्चात) में रख-रखाव, बीमारियों से बचाव इत्यादि के संबंध
          में ज्ञान का प्रचार-प्रसार करना इसका प्रमुख उद्देश्य है। वर्तमान में
          स्वास्थ्य के क्षेत्र में जन-जीवन को प्रभावित करने वाली स्वास्थ्य
          सम्बंधी समस्याओं से बचाव हेतु संगठन ने पहल करने का निर्णय लिया है।
          संस्था में आपके बहुमूल्य सुझाव व सहभागिता सादर अपेक्षित है।
        </p>
        <img data-aos="fade-up" data-aos-easing="ease" data-aos-delay="600"
          class="d-none d-lg-block col-10 col-lg-7 mx-auto mt-4" src="./images/full-logo.png" />
      </div>
    </div>
  </section>

  <section id="mission">
    <div class="cover">
      <img src="images/carosel/5.png" />
    </div>
    <div class="content">
      <div class="text-light" style="position: relative; top: 30%;" data-aos="fade-up" data-aos-mirror="true">
        <h1 class="text-center m-5 lang-en">Our Mission</h1>
        <h1 class="text-center m-5 lang-hi d-none">हमारा लक्ष्य</h1>
        <div class="lead col-10 col-lg-7 mx-auto lang-en text-center">
          To bring awareness in the society for the total wellness of mankind
          through education and association with doctors, vaidyas , yoga
          experts etc.
        </div>
        <div class="lead col-10 col-lg-7 mx-auto lang-hi d-none text-center">
          समाज में व्यक्ति के संपूर्ण स्वास्थ्य कल्याण हेतु शिक्षा के माध्यम
          एवं स्वास्थ्य विशेषज्ञों के सहयोग से स्वास्थ्य के प्रति जागरूकता
          लाना।
        </div>
      </div>
  </section>

  <section id="about">
    <div class="cover">
      <img src="images/carosel/9.png" />
    </div>
    <div class="content">
      <div class="text-light" style="position: relative; top: 20%;" data-aos="fade-up" data-aos-mirror="true">
        <h1 class="text-center m-5 lang-en">About Us</h1>
        <h1 class="text-center m-5 lang-hi d-none">हमारे बारे में</h1>
        <div class="lead col-10 col-lg-7 mx-auto lang-en text-justify">
          The society is changing very fast and thus affecting our lives, our
          thoughts and even our culture at large. Our health is not untouched
          by it. We spend every moment fighting with some kind of problem.
          Studies says these problems or maladies tax us physically, mentally
          and financially. We wait indefinitely in the hope of getting relief.
          The modern medical and available scientific knowledge give strength
          to our hope.
        </div>
        <div class="lead col-10 col-lg-7 mx-auto lang-hi d-none text-justify">
          स्वास्थ्य प्रत्येक व्यक्ति के लिए महत्त्वपूर्ण विषय है। आज समाज में
          बदलाव की गति इतनी तेज़ हो गई है कि यह हमारे आचार -विचार, रहन-सहन एवं
          संस्कृति को प्रभावित करती जा रही है। हमारा स्वास्थ्य इससे अछूता नहीं
          है। हम कई प्रकार की बीमारियों से लड़ते जा रहे हैं। आंकड़ों के अनुसार
          ये बीमारियाँ हमारे जीवन में आर्थिक, शारीरिक और मानसिक रूप से बोझ
          बनती जा रही हैं। हम एक आशा में इनसे मुक्त होने की प्रतीक्षा करते
          हैं। आज उपलब्ध ज्ञान-विज्ञान इस आशा को सबल बनाता है।
        </div>
      </div>
    </div>
  </section>

  <div id="objectives">
    <div class="lang-en container text-center">
      <h1 class="h1 my-3">Objectives</h1>
      <div class="card py-3 col-10 col-lg-7 mx-auto">
        <p>
          To promote awareness about healthcare including preventive healthcare, Cleanuness and Sanitation.
        </p>
        <p>
          To bring awareness in society about Malnutrition, its remedial measures with an objective to reduce child
          mortality and enhance maternal health.
        </p>
        <p>
          Health camps for screening and early detection of potentially life threatening diseases like Cancer, Heart
          Diseases etc.
        </p>
        <p>
          To Work for physical and psychological care of senior citizens through various activities, so that their
          experience and expertise could be gain fully utilized for the society.
        </p>
        <p>
          To Work with other organizations working in the field of health awareness / health care.
        </p>
        <p>
          To create awareness and associate with other agencies in combating various communicable diseases.
        </p>
        <p>
          Arranging seminars , holding camps in rural and urban areas against ignorance about health and remedies.
        </p>
        <p>
          Arranging cultural activities to help the organisation grow and function properly.
        </p>
        <p>
          To work for the affected persons especially from chronic, incurable and terminal diseases to enble them to
          fight the situation in a better way.
        </p>
        <p>
          To arrange for training of volunteers, healthcare personnel for skill-development.
        </p>
      </div>
    </div>

    <div class="lang-hi d-none container text-center">
      <h1 class="h1 my-3">उद्देश्यों</h1>
      <div class="card py-3 col-10 col-lg-7 mx-auto">
        <p>
          स्वास्थ्य की देखभाल, निरोधक उपायों के साथ-साथ स्वच्छता सहित अन्य उपयोगों के द्वारा जागरूकता को बढ़ावा देना।
        </p>
        <p>
          समाज में कुपोषण और उसके उपचार को ध्यान में रखकर शिशु मृत्यु-दर में कमी लाना तथा मातृ-स्वास्थ्य में अभिवृद्धि ।
        </p>
        <p>
          जीवन प्रभावी संघाती बीमारियों यथा कैंसर, हृदयरोग आदि के यथाशीघ्र प्राथमिक परीक्षण एवं निदान के लिए स्वास्थ्य
          कैम्प लगाना।
        </p>
        <p>
          वरिष्ठ नागरिकों की शारीरिक एवं मानसिक देखभाल के लिए कार्य करना ताकि उनके अनुभवों और विशिष्टताओं का सामाजिक हित
          में उपयोग किया जा सके।
        </p>
        <p>
          स्वास्थ्य जागरूकता / देख-रेख के क्षेत्र में कार्यरत अन्य संगठनों के साथ काम करना।
        </p>
        <p>
          विभिन्न संक्रामक रोगों के निदान हेतु कार्यरत संस्थाओं को सहयोग देना और उसके प्रति सजगता का वातावरण तैयार करना।
        </p>
        <p>
          सेमिनारों का आयोजन और ग्रामीण तथा शहरी क्षेत्रों में स्वास्थ्य एवं उपचार संबंधी अज्ञानता को दूर करने हेतु
          शिविरों की व्यवस्था करना।
        </p>
        <p>
          संस्था के सुचारु रूप से संचालन तथा विकास के लिए सांस्कृतिक कार्यक्रमों का संयोजन करना।
        </p>
        <p>
          पुराने असाध्य/अचिकित्सीय तथा टर्मिनल(अन्त्य) रोगों से प्रभावित लोगों के लिए विशेष रूप में काम आना ताकि एक
          भरोसे के साथ अपनी असहजता को संभालने के योग्य हों।
        </p>
        <p>
          स्वयंसेवकों तथा स्वास्थ्य संबंधी देखभाल के लिए कौशल विकास हेतु प्रशिक्षण का आयोजन।
        </p>

      </div>
    </div>
  </div>

  <div class="gallery">
    <div class="container mt-5">
      <div class="row my-4">
        <div class="col text-center" data-aos="fade-up">
          <img class="col-10 col-lg-3 m-2" src="./images/carosel/4.png" />
          <img class="col-10 col-lg-3 m-2" src="./images/carosel/5.png" />
          <img class="col-10 col-lg-3 m-2" src="./images/carosel/3.png" />
          <img class="col-10 col-lg-3 m-2" src="./images/carosel/6.png" />
          <img class="col-10 col-lg-3 m-2" src="./images/carosel/7.png" />
          <img class="col-10 col-lg-3 m-2" src="./images/carosel/8.png" />
          <img class="col-10 col-lg-3 m-2" src="./images/carosel/9.png" />
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/footer'); -%> <%- include('../partials/scripts');
    -%>
</body>

</html>