<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); -%>
  <body>
    <%- include('../partials/navbar'); -%>

    <section>
      <div class="cover">
        <img src="images/carosel/1.png" />
      </div>
      <div class="content">
        <div class="centralize text-light">
          <div>
            <h1 class="h1 text-center m-3 lang-en" data-aos="zoom-in">
              Nirog Gyan Org
            </h1>
            <h1 class="h1 text-center m-3 lang-hi d-none">
              निरोग ज्ञान आर्गनाइजेशन
            </h1>
            <h2
              class="h2 text-center my-2"
              data-aos="fade-up"
              data-aos-easing="ease"
              data-aos-delay="400"
            >
              सर्वे सन्तु निरामयाः
            </h2>
          </div>
        </div>
        <a class="scroll-btn" href="#p1"></a>
      </div>
    </section>

    <section id="p1" style="box-shadow: inset 0 3px 5px #333;">
      <div class="container" data-aos="fade-up">
        <h1
          class="text-center m-5 lang-en"
          data-aos="fade-up"
          data-aos-easing="ease"
        >
          Our Vision
        </h1>
        <h1 class="text-center m-5 lang-hi d-none">हमारी दृष्टि</h1>
        <div
          class="lead col-10 col-lg-8 text-justify mx-auto"
          data-aos="fade-up"
          data-aos-easing="ease"
          data-aos-delay="300"
        >
          <p class="lang-en text-dark">
            Nirog Gyan Organisation is a society with a view to impart or
            enhance the awareness regarding health and wellness, with the help
            of experts, social groups and such other organisation . Health
            awareness, post-illness care, preventive health care etc. are our
            primary concern. It is our experience that human curses are growing
            in proportion with the progressive human civilization. It requires
            our consistent efforts to raise awareness for the alleviation of
            those causes.<br />
            <strong class="my-2"
              >Come forward! Extend your hands!! Listen to your heart!!!
            </strong>
          </p>
          <p class="lang-hi d-none">
            निरोग ज्ञान आर्गनाइजेशन एक ऐसी स्वास्थ्य ज्ञान संबंधी संस्था है जो
            इस क्षेत्र के विशेषज्ञों, उत्सुक समाजसेवियों और अन्य सहयोगियों की
            सहमति से स्थापित की गई है। स्वास्थ्य के प्रति जागरूकता, अस्वस्थता
            (बीमारी के पश्चात) में रख-रखाव, बीमारियों से बचाव इत्यादि के संबंध
            में ज्ञान का प्रचार-प्रसार करना इसका प्रमुख उद्देश्य है। वर्तमान में
            स्वास्थ्य के क्षेत्र में जन-जीवन को प्रभावित करने वाली स्वास्थ्य
            सम्बंधी समस्याओं से बचाव हेतु संगठन ने पहल करने का निर्णय लिया है।
            संस्था में आपके बहुमूल्य सुझाव व सहभागिता सादर अपेक्षित है।
          </p>
          <img
            data-aos="fade-up"
            data-aos-easing="ease"
            data-aos-delay="600"
            class="d-block col-10 col-lg-7 mx-auto mt-2"
            src="./images/full-logo.png"
          />
        </div>
      </div>
    </section>

    <section>
      <div class="cover">
        <img src="images/carosel/9.png" />
      </div>
      <div class="content">
        <div class="text-light" data-aos="fade-up" data-aos-mirror="true">
          <h1 class="text-center m-5 lang-en">About Us</h1>
          <h1 class="text-center m-5 lang-hi d-none">हमारे बारे में</h1>
          <div class="lead col-10 col-lg-8 mx-auto lang-en text-justify">
            The society is changing very fast and thus affecting our lives, our
            thoughts and even our culture at large. Our health is not untouched
            by it. We spend every moment fighting with some kind of problem.
            Studies says these problems or maladies tax us physically, mentally
            and financially. We wait indefinitely in the hope of getting relief.
            The modern medical and available scientific knowledge give strength
            to our hope.
          </div>
          <div class="lead col-10 col-lg-7 mx-auto lang-hi d-none text-justify">
            स्वास्थ्य प्रत्येक व्यक्ति के लिए महत्त्वपूर्ण विषय है। आज समाज में
            बदलाव की गति इतनी तेज़ हो गई है कि यह हमारे आचार -विचार, रहन-सहन एवं
            संस्कृति को प्रभावित करती जा रही है। हमारा स्वास्थ्य इससे अछूता नहीं
            है। हम कई प्रकार की बीमारियों से लड़ते जा रहे हैं। आंकड़ों के अनुसार
            ये बीमारियाँ हमारे जीवन में आर्थिक, शारीरिक और मानसिक रूप से बोझ
            बनती जा रही हैं। हम एक आशा में इनसे मुक्त होने की प्रतीक्षा करते
            हैं। आज उपलब्ध ज्ञान-विज्ञान इस आशा को सबल बनाता है।
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row my-2">
        <div class="col text-center">
          <img class="col-10 col-lg-3 m-2" src="./images/carosel/4.png" />
          <img class="col-10 col-lg-3 m-2" src="./images/carosel/5.png" />
          <img class="col-10 col-lg-3 m-2" src="./images/carosel/3.png" />
          <img class="col-10 col-lg-3 m-2" src="./images/carosel/6.png" />
          <img class="col-10 col-lg-3 m-2" src="./images/carosel/7.png" />
          <img class="col-10 col-lg-3 m-2" src="./images/carosel/8.png" />
          <img class="col-10 col-lg-3 m-2" src="./images/carosel/9.png" />
        </div>
      </div>
    </div>

    <%- include('../partials/scripts'); -%>
  </body>
</html>
